<?php
class Env {
  public static $TOKEN = "";
  public static $DOCUMENT = "https://docs.google.com/spreadsheets/d/e/SPREADSHEET_ID/pubhtml?gid=%s&single=true";

  public static $DB_HOST = "localhost";
  public static $DB_USER = "root";
  public static $DB_PASS = "root";
  public static $DB_NAME = "finances";

  public static $START = "🤖 Запустить бота";
  public static $DIAGRAM = "📈 Диаграмма прибыли";
  public static $FORWARD = "📊 Перейти к статистике";
  public static $SUPPORT = "📲 Связаться с поддержкой";
  public static $COMPANY_MANAGER = "✅ Менеджер сервиса поддержки компании";
  public static $COMPANY_LINK = "https://t.me/COMPANY";
  public static $TECHNICAL_MANAGER = "✅ Техническая поддержка по боту";
  public static $TECHNICAL_LINK = "https://t.me/webulu";

  public static $TABLE = "📍 Укажите таблицу";
  public static $PASSWORD = "🔑 Введите пароль:";
  public static $PASSWORD_ERROR = "❌ Неверный пароль";
  public static $STATS = "💰 Выберите статистику";
  public static $KEYBOARD = [
    '💸 Последние данные',
    '💸 Итого всего',
    '📊 Статистика прибыли',
    '📌 Выбрать другую таблицу'
  ];

  public static $LAST_TITLE = "*💲 “Последние данные”*";
  public static $TOTAL_TITLE = "*💲 “Итоговые общие данные”*";
  public static $DATA_BODY =
"
_Дата:_ `%s`
_Задействованная сумма:_ `%s`
_Количество отправлений:_ `%s`
_Прокрученная сумма:_ `%s`
_Спред:_ `%s`
_Прибыль:_ `%s`
";
  public static $COMMON_DATES = "за всё время";
}